body{
  font: 100% $font-family-text;
  color: color(text, base);
}

.secondary-typography-color{
  color: color(primary, base);
}
.light-typography-color{
  color: color(secondary, dark);
}

h1{
  font-size: $font-size-xx-large;
  font-weight: $font-weight-light;
  font-family: $font-family-display;
  line-height: 1.2;
  margin-bottom: 20px;
  &.secondary{
    @extend .secondary-typography-color;
  }
  &.light{
    @extend .light-typography-color;
  }
}

h2{
  font-size: $font-size-x-large;
  font-weight: $font-weight-light;
  font-family: $font-family-display;
  &.secondary{
    @extend .secondary-typography-color;
  }
  &.light{
    @extend .light-typography-color;
  }
}

h3{
  font-size: $font-size-large;
  font-weight: $font-weight-light;
  font-family: $font-family-display;
  &.secondary{
    @extend .secondary-typography-color;
  }
  &.light{
    @extend .light-typography-color;
  }
}

h4{
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
  font-family: $font-family-display;
  text-transform: uppercase;
  &.secondary{
    @extend .secondary-typography-color;
  }
  &.light{
    @extend .light-typography-color;
  }
}

h5{
  font-size: $font-size-small;
  font-weight: $font-weight-light;
  font-family: $font-family-display;
  &.secondary{
    @extend .secondary-typography-color;
  }
  &.light{
    @extend .light-typography-color;
  }
}

h6{
  &.secondary{
    @extend .secondary-typography-color;
  }
  &.light{
    @extend .light-typography-color;
  }
}

p{
  font-size: $font-size-medium;
  font-weight: $font-weight-regular;
  color: color(text, base);
  &.secondary{
    @extend .secondary-typography-color;
  }
  &.lead{
    font-size: 18px;
  }
  &.light{
    @extend .light-typography-color;
  }
}

small{
  font-size: $font-size-small;
  color: $gray;
  text-transform: uppercase;
  letter-spacing: 1px;
  &.secondary{
    @extend .secondary-typography-color;
  }
  &.light{
    @extend .light-typography-color;
  }
}

a{
  text-decoration: none;
  color: color(primary, base);
}

label{
  font-size: $font-size-small;
  color: $black;
  font-weight: $font-weight-bold;
}
