//VARIABLE COLORS
$black: #242424;
$royal-blue: #6354F3;
$gray: #84888C;
$silver-sand: #F2F5F7;
$athens-gray: #F2F5F7;
$lime: #A9C52F;
$blue: #0076FF;
$green: #44DB5E;
$red: #FE2851;
$orange: #FF9600;
$yellow: #FFCD00;

//TYPOGRAPHY SIZES
$font-size-small: responsive 12px 14px;
$font-size-medium: responsive 15px 16px;
$font-size-large: 24px;
$font-size-x-large: 32px;
$font-size-xx-large: 48px;
$font-size-xxx-large: 64px;
$font-size-xxxx-large: 96px;

//TYPOGRAPHY WEIGHT
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
